* {
    background-image: url(Screenshot\ From\ 2026-01-31\ 20-18-44.png);
}


.button {
    font-size: larger;
    color: black;
    border-radius: 5%;
    border: solid;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.card {
    text-align: center;
    align-items: center;
    justify-content: center;

    border: solid;
    border-radius:2%;
    width: 50%;

}