
/* Box titles */
.link{
    text-decoration: none;
    color: #000;
}
/* Box containers  */
.container{
    display: flex;
    height: 20vh;
    width: 40vw;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
    border-style: solid;
    padding-right: 10vw;
    margin-right: 5px;
}
/* links for the courses after you click the boxes */
.course_links{
    text-decoration: none;
    color: #000;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 300px;
}

h6{
    color: purple;
    font-size: 150%;
    padding-left: 5vw;
}

/* buttons for swapping pages */
.button_nav{
    border: none;
    border-radius: 7px;
    background-color: red;
    font-size: 15px;
    color: white;
    padding: 2%;
    margin: 3px;
    box-shadow: 0 0 40px black;
}
.button_nav:hover{
    border: none;
    border-radius: 7px;
    background-color: rgb(71, 215, 39);
    font-size: 15px;
    color: white;
    padding: 2%;
    margin: 3px;
    box-shadow: 0 0 40px black;
}

.button_nav_same{
    border: none;
    border-radius: 7px;
    background-color: green;
    font-size: 15px;
    color: white;
    padding: 2%;
    margin: 3px;
    box-shadow: 0 0 40px black;
}
