.backbutton{

    background-color: #0d0ac7;
border-width:1px;
    box-shadow: 0 0 30px black;  margin-right: -15px;
    border: solid;
    color: white;
padding-top: 2vh;
padding-bottom: 2vh;
    /* margin-bottom: 7%;
    margin-top: 2%; */ 
    border-radius: 7px;
 box-shadow: 0 0 30px black;  margin-right: -15px;
   
}

.button {
    height: 9vmax;
    width: 60vmax;
    margin-bottom: 10px;
   text-align: start;
   justify-content:left;
   padding-right: 3vmax;
   padding-bottom: 2vmax;
   border-radius: 10px;
   margin-left: 7vmax;
    background-color: rgb(72, 72, 248);
   border-color: black;
   border-width: 2px;
}

#articles {
    width: 100%;
    height: 90vmax;
    display: flex;
  }
#articles1 {
    width: 90vmax;
    height: 100vh;
    display: flex;
  }
#articlesmenbeblsharjee {
    margin-left: 7vw;
        height: 500px;
        width: 60%;
}
