*{
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
/*    -webkit-transition: all 0.35s ease-in;
transition: all 0.35s ease-in-out; */
.main{
    image-resolution:initial;

}


   .bar{
    position:relative;
   }
/* .aboutus_button{
    text-decoration: none;
    color: white;
padding-top: 3%;
padding-bottom: 1%;
padding-left: 5vw;
margin-bottom: 200vh;
    background-image:linear-gradient(to bottom right, blue, rgb(0, 191, 255));

}  */
.outer{
    align-items: start;
    display: flex;
    height: 300px;
    width: 300px;
    justify-content: center;
    position: relative;
}
.inner{
    background: orange;
    border: 20px;
    width: 200px;
    height: 100px;
    border-radius: 50%;
}
.mainupper{
    padding-left: 5vw;
    padding-top: 5px;
    padding-right: 7.9vw;
}
.type{
    border-radius: 4%;
    padding: 1vi;
    color: black;
    box-shadow: 0 0 5px black;

}
.submit{
    box-shadow: 0 0 10px black;

    color: white;
    border: none;
    background-image: linear-gradient(to bottom right, blue, rgb(0, 242, 255));
padding: 1vi;
border-radius:5px ;
margin-left: 1px;

}
.contactus{
    box-shadow: 0 0 30px black;
    background-image: linear-gradient(to bottom right, blue, rgb(0, 191, 255));
    margin-right: -15px;
    border: none;
    color: white;
padding-top: 2vh;
padding-bottom: 2vh;
padding-right: 2vw;
padding-left: 2vw;
   margin-left: 20vw;
    /* margin-bottom: 7%;
    margin-top: 2%; */ 
    border-radius: 7px;

}
.buttons_menu{
    padding-top: 1vh;
    width: 22%;
    border: none;
    background-color: white;
    padding-right: 5vw;
    font-size: larger;
    padding-bottom: 1vh;
    color: black;
   
}
.buttons_menu2{

    width: 22%;
    border: none;
    background-color: white;
    padding-right: 5vw;
    font-size: larger;
    padding-bottom: 2vh;
    color: black;


}
.buttons_menu3{

    width: 22%;
    border: none;
    background-color: white;
    padding-right: 15w;
    font-size: larger;
    padding-bottom: 1vh;
    color: black;

}
.buttons_menu4{
    font-size: larger;
    width: 22%;
    border: none;
    background-color: white;
color: black;
    padding-right: 1vw;
    padding-bottom: 1vh;
}


.buttonsame_menu{
    width: 22%;
    padding-top: 1vh;
    border: none;
    background-color: white;
    padding-right: 15w;
    font-size: larger;
    padding-bottom: 1vh;
    
    color: red;
}