@import url('https://fonts.googleapis.com/css?family=Roboto:wght@300display=swap');

h9{
font-size: 19px;
}



.close_menu {
 height: 17%;
 width: 12%;
margin-left: 10px;
border: none;
border-radius: 5px;
background-color: white;
color: black;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility:hidden;
    width: 430px;
    height: 400px;
    background-color: darkblue;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
  
    bottom: 270%;
    left: 290%;
    margin-left: -80px;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility:  visible;
  }
  
.text{
    border-radius: 4%;
    padding: 1vi;
    color: black;
    box-shadow: 0 0 5px black;
    margin-top: 5px;
margin-bottom: 5px;
}

.I{
  height: 30px;
  width: 100px;
  color: black;
  background-color: white;
  border-radius: 5px;
}
  
.proceed{
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 40%;
  width: 40%;
 border: none;
 font-size: 20px;
 border-radius: 5px;
 background-color: white;
 color: black;
}
